*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman';

}

html{
    scroll-behavior: smooth;

}

section{
    width: 100%;
    height: 100vh;
    /* background-image: url(logo\ 13.jfif); */
    background-size: cover;
    background-position: center;
    background-size: 500px;
    background-color: rgb(15, 187, 221);
}

section nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 0px rgb(0, 0, 0,0.6);
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

section nav .logo{
    font-size: 35px;
    color: green;
    margin: 5px 0;
    position: relative;
    left: -4%;
}


section nav .logo span{
    color: blueviolet;
    text-decoration:underline;

}


section nav ul{
    list-style: none; 
}


section nav ul li{
    display:inline-block;
    margin: 5px 15px;
    color: black;

}


section nav ul li a{
    text-decoration: none;
    color:black;
    transition: 0.2s;
}




section nav ul li a:hover{
    color: red;
}

section nav .icon i{
    margin: 0 4px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;

}
section nav .icon i:hover{
    color: deeppink;

}

section .main .main_content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section .main .main_content .main_text h2{
    font-size: 70px;
    line-height: 70px;
    font-family: pyxidium quick;
    background: linear-gradient(to right, rgb(61, 5, 150), rgb(12, 17, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    top: 200px;
    left: ;

}

section .main .main_content .main_text h2 span{
    font-size: 70px;
    background: linear-gradient(to right, rgb(6, 0, 12), rgb(73, 6, 134));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p{
    width: 600px;
    text-align: justify;
    line-height: 21px;
    position: relative;
    top: 220px;
    left: 1%;
    color: rgb(5, 5, 5);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}


section .main .button{
    position: absolute;
    left: 6%;
    padding: 10px 20px;
    border-radius: 30px;
    background: linear-gradient(to right,#15cf0f , #0cb5d3);
    top: 80%;
}

section .main .button a{
    color: white;
    text-decoration: none;

}

section .main .button i{
    color: white;
    margin-left: 5px;
    transition: 0.3s;
}

section .main .button:hover i{
    transform: translate(6px);
}












